<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testService" class="oops.configInXML.impl.TestServiceImpl">
        <property name="testDao" ref="testDao"/>
    </bean>

    <bean id="testDao" class="oops.configInXML.impl.TestDaoImpl"></bean>
</beans>